@use "../abstracts/vars";

@mixin afterstyle{
    content: "";
    width: 100%;
    height: 3%;
    border: 0.2rem;
    background: vars.$gradient;
    position: absolute;
    bottom: 0;
    left: 0;
}
@mixin blur{
    filter: blur(15px);
    
}