@use "../abstracts/colors";


$vhCalc: (
    "heightofheader": 8rem,
    "paddingofbody": 4rem,


);

$box-shadow: 0 0.2rem 0.5rem 0 rgba(0,0,0,0.2);

$font-family: 'open sans', sans-serif;

$gradient: linear-gradient(to bottom right, map-get(colors.$baseColors, "background"), 30%, map-get(colors.$baseColors, "backgroundLight") );

$sectionwidth: 40% 60%;

