@use "../../abstracts/vars";
@use "../../abstracts/colors";



.header{
    background: map-get(colors.$baseColors, "whitecolor");
    height: map-get(vars.$vhCalc, "heightofheader");
    max-width: 150rem;
    font-family: 'Edu NSW ACT foundation', cursive;
    padding: 2rem;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    margin: 0 auto;

    &__logo{
        display: flex;
        font-size: 300%;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-weight: 400;

    }
}
